*.log
*.psess
Lavio/bin/
Lavio/Debug/
Lavio/OpenGLContext/x64/
Lavio/OpenGLContext/x86/
Lavio/FreeType/x64/
Lavio/Lavio/Debug/
Lavio/OpenGLContext/Debug/
Lavio/Lavio.VC.db
Lavio/Lavio-All.VC.VC.opendb
Lavio/Lavio-All.VC.db
*.db
Lavio/Lavio/TestSuite/x64/ 
*.vspx
Lavio/x64/
*.opendb
*.db-shm
*.db-wal
*.ipch
*.cache
*.suo
*.sdf
Lavio/TestSuite/x64/
